.searchform input:only-of-type {
  background: #fcf792;
	margin: 50px auto;
	margin-right: -40px;
	padding: 15px;
	padding-right: 50px;
	width: 100%;
	box-shadow: 3px 18px 20px 0px #424242;
}

.searchbutton {
	margin-right: -10px;
}

.icnsearch {
  font-weight: 700;
}